p {
    color:white;
    background-color: black;
    text-align: center;
    font-family: 'fantasy';
}

.yellow {
    background-color: yellow;
    color: olive;
}

.blue {
    background-color: blue;
    color: white;
}

img {
    width: 50%;
}

body {
    padding: 10px;
    margin: 10px;
    border: 10px;
    border-style: dashed;
    border-color: blueviolet;
}
